@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;700&display=swap');
:root{ 
    --branco: white;
    --cor-de-fundo: #00162E;
    --borda: #0075FF;
    --roboto-mono; 'Roboto Mono', monospace;
    --roboto:'Roboto', sans-serif;
}
.titulo-principal {
    font-family: var(--roboto-mono);
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}
