@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=DynaPuff:wght@400..700&display=swap');

:root{ 
    --branco: white;
    --cor-de-fundo: #00162E;
    --fonte-titulo2: 'Dancing Script';
    --fonte-titulo: 'DynaPuff';
    --fonte-texto: 'Asap';
}
body{
    background-color: #FFFAF2;
}
.inicio {
    display: flex;
    align-items: center;
    margin: 20px; 
}

.logo {
    width: 400px; 
    height: auto; 
    margin-right: 50px; 
}

.titulo-principal h1 {
    margin: 0;
    font-family: var(--fonte-titulo); 
    font-size: 100px;
    color: #EB8D96;
}

.titulo-principal h2 {
    margin: 0; 
    color: #EB8D96;
    font-family: var(--fonte-titulo2);
    font-size: 50px;
   
}

.texto01 h1 {
    text-align: center;
    margin: 20px;
    color: #9D613F;
    margin: 50px;
    font-family: var(--fonte-texto);
    font-size: 30px;
}
 
.texto01 p {
    font-family: var(--fonte-texto);
    font-size: 20px;
    text-align: center;
}